@model WebApp.Models.Jogo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Jogo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idJogo" class="control-label"></label>
                <input asp-for="idJogo" class="form-control" />
                <span asp-validation-for="idJogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timeMandante" class="control-label"></label>
                <input asp-for="timeMandante" class="form-control" />
                <span asp-validation-for="timeMandante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timeVisitante" class="control-label"></label>
                <input asp-for="timeVisitante" class="form-control" />
                <span asp-validation-for="timeVisitante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rodada" class="control-label"></label>
                <input asp-for="Rodada" class="form-control" />
                <span asp-validation-for="Rodada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="resultadoMandante" class="control-label"></label>
                <input asp-for="resultadoMandante" class="form-control" />
                <span asp-validation-for="resultadoMandante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="resultadoVisitante" class="control-label"></label>
                <input asp-for="resultadoVisitante" class="form-control" />
                <span asp-validation-for="resultadoVisitante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="statusDoJogo" class="control-label"></label>
                <input asp-for="statusDoJogo" class="form-control" />
                <span asp-validation-for="statusDoJogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataJogo" class="control-label"></label>
                <input asp-for="dataJogo" class="form-control" />
                <span asp-validation-for="dataJogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagemMandante" class="control-label"></label>
                <input asp-for="ImagemMandante" class="form-control" type="file" />
                <span asp-validation-for="ImagemMandante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagemVisitante" class="control-label"></label>
                <input asp-for="ImagemVisitante" class="form-control" type="file" />
                <span asp-validation-for="ImagemVisitante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
