@{
    ViewData["Title"] = "View";
}



<nav id="nav">
    <div class="nav-header">
        <img src="../imagens/brasil.png">
        <span>BRASILEIRÃO</span>
    </div>
    <div class="nav-header-menu">
        <a href="#header" id="noticia-btn">Notícias</a>
        <a href="#header" id="jogos-btn">Jogos</a>
        <a href="#header" id="trans-btn">Transferências</a>
    </div>
</nav>


<main id="noticia">
    <div class="noticia-titulo">
        <h3>Top Noticias</h3>
    </div>
    <div class="main-noticia">
        <div class="noticia">
            <img src="../imagens/elenco-corinthians-2015.jpg" />
            <div class="noticia-texto">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor vitae arcu
                    vel ullamcorper. Maecenas ut ligula malesuada, venenatis odio in, tempor arcu.
                    Fusce auctor velit eget justo aliquam, sit amet tristique leo laoreet.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor vitae arcu
                    vel ullamcorper. Maecenas ut ligula malesuada, venenatis odio in, tempor arcu.
                    Fusce auctor velit eget justo aliquam, sit amet tristique leo laoreet.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor vitae arcu
                    vel ullamcorper. Maecenas ut ligula malesuada, venenatis odio in, tempor arcu.
                    Fusce auctor velit eget justo aliquam, sit amet tristique leo laoreet.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor vitae arcu
                    vel ullamcorper. Maecenas ut ligula malesuada, venenatis odio in, tempor arcu.
                    Fusce auctor velit eget justo aliquam, sit amet tristique leo laoreet.
                </p>
            </div>
        </div>
    </div>
    <div class="noticia-row-main">
        <div class="noticia-row">
            <img src="../imagens/cassio-do-corinthians-levanta-a-taca-de-campeao-brasileiro-de-2017-1511732846101_956x500.jpg" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor vitae arcu
                vel ullamcorper. Maecenas ut ligula malesuada, venenatis odio in, tempor arcu.
                Fusce auctor velit eget justo aliquam, sit amet tristique leo laoreet.
            </p>
        </div>

        <div class="noticia-row">
            <img src="../imagens/22519463_1585252804894808_443642118278458540_n.png" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor vitae arcu
                vel ullamcorper. Maecenas ut ligula malesuada, venenatis odio in, tempor arcu.
                Fusce auctor velit eget justo aliquam, sit amet tristique leo laoreet.
            </p>
        </div>

        <div class="noticia-row">
            <img src="../imagens/1673376408cc02d42b8939768b8a4f1e4d826faa79.jpg" alt="Imagem da notícia">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor vitae arcu
                vel ullamcorper. Maecenas ut ligula malesuada, venenatis odio in, tempor arcu.
                Fusce auctor velit eget justo aliquam, sit amet tristique leo laoreet.
            </p>
        </div>
    </div>
</main>
<div id="transferencias">
    <div class="noticia-titulo">
        <h3>Transferencias</h3>
    </div>
    <div class="card-row">
        <div class="card">
            <div class="item-top">
                <div>
                    <p>RENOVAR CONTRATO</p>
                </div>
            </div>
            <div class="item-mid">
                <img src="../imagens/user.png">
                <p>Felipe Augusto</p>
                <img src="../imagens/pngwing.com.png">
            </div>
            <div class="item-mid2">
                <p>Contrato valido ate abril de 2026</p>
            </div>
            <div class="item-bottom">
                <p>Renovaçao</p>
            </div>
        </div>

        <div class="card">
            <div class="item-top">
                <div>
                    <p>RENOVAR CONTRATO</p>
                </div>
            </div>
            <div class="item-mid">
                <img src="../imagens/user.png">
                <p>Felipe Augusto</p>
                <img src="../imagens/pngwing.com.png">
            </div>
            <div class="item-mid2">
                <p>Contrato valido ate abril de 2026</p>
            </div>
            <div class="item-bottom">
                <p>Renovaçao</p>
            </div>
        </div>

        <div class="card">
            <div class="item-top">
                <div>
                    <p>RENOVAR CONTRATO</p>
                </div>
            </div>
            <div class="item-mid">
                <img src="../imagens/user.png">
                <p>Felipe Augusto</p>
                <img src="../imagens/pngwing.com.png">
            </div>
            <div class="item-mid2">
                <p>Contrato valido ate abril de 2026</p>
            </div>
            <div class="item-bottom">
                <p>Renovaçao</p>
            </div>
        </div>
    </div>
</div>
    
<div id="jogo">
    <h1>Tabela do Brasileirão</h1>
    <div class="Tabela">
    <table class="tabela-jogos">
        <tr>
            <th>Posição</th>
            <th>Time</th>
            <th>Pontos</th>
            <th>Jogos</th>
            <th>Vitórias</th>
            <th>Empates</th>
            <th>Derrotas</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Time 1</td>
            <td>30</td>
            <td>15</td>
            <td>10</td>
            <td>0</td>
            <td>5</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Time 2</td>
            <td>28</td>
            <td>15</td>
            <td>8</td>
            <td>4</td>
            <td>3</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Time 3</td>
            <td>25</td>
            <td>14</td>
            <td>7</td>
            <td>4</td>
            <td>3</td>
        </tr>
        <!-- adicione mais linhas para outros times -->
    </table>
</div>
</div>
