@{
    ViewData["Title"] = "View";
}



<nav id="nav">
    <div class="nav-header">
        <img src="../imagens/brasil.png">
        <span>BRASILEIRÃO</span>
    </div>
    <div class="nav-header-menu">
        <a href="#header" id="noticia-btn">Notícias</a>
        <a href="#header" id="jogos-btn">Tabela</a>
        <a href="#header" id="trans-btn">Transferências</a>
    </div>
</nav>

<main id="noticia">
    <span id="titulo">
        <img src="~/imagens/globo.png" alt="globo">
        Notícias
    </span>

    <div id="principal">
        <!--Quadrado branco dos cards-->
        <span id="topnews">Top News</span>

        <section id="card1">
            <!--Card Noticia 1-->

            <img src="~/imagens/bau.jpg" alt="Eduardo Bauermann" style="width: 565px;" height="410px"> <!-- 525 e 360-->

            <div id="textoCard1">
                <h1>Santos decide suspender contrato do zagueiro Eduardo Bauermann</h1>
                <span>
                    O Santos suspendeu o contrato nesta terça feira (16/05), de um de seus principais zagueiro
                    Eduardo Bauermann. O jogador é réu na operação Penalidade Maxima II, que investiga jogadores que
                    participam de esquema de apostas esportivas no futebol brasileiro.
                    Alguns prints de conversa do Whatsapp entre o jogador e o apostador mostram, que o zagueiro teria se
                    oferecido e recebido R$50 mil para tomar um cartão amarelo no jogo contra o Avaí no ano passado.
                    Após o jogador nao conseguir cumprir o acordo, teria se oferecido novamente para tomar um cartão vermelho
                    no jogo seguinte do Peixe, contra o Botafogo. Com essas polêmicas, o clube decidiu suspender o contrato do
                    zagueiro, com possibilidade de até processar o jogador pelo ocorrido.


                </span>
            </div>

        </section>

        <section id="card2">
            <!--Card Noticia 2-->

            <img src="~/imagens/deivid.jpg" alt="Deivid Washington" style="width: 100%;" height="270px">

            <div id="textoCard2">
                <h1>Promessa Santista</h1>
                <span>
                    O Jovem atacante Deivid Washington vem ganhando espaço no time profissional do Santos. O atacante de apenas 17 anos,
                    vem impressionando a torcida alvinegra com sua mobilidade e suas características. Na sombra de Marcos Leonardo,
                    Deivid vem aproveitando sua titularidade enquanto o colega esta na seleção Sub-20.

                </span>
            </div>

        </section>

        <section id="card3">
            <!--Card Noticia 3-->

            <img src="~/imagens/veiga.jpg" alt="Rafael Veiga" style="width: 100%;" height="270px">

            <div id="textoCard2">
                <h1>Na mira de gigante!</h1>
                <span>
                    O meio-campista craque e muito querido pela torcida alviverde, Raphael Veiga, vem chamando a atenção de diversos clubes da Europa. Surgiu
                    rumores do jornal espanhol "Sport", que o Barcelona tem interesse em contratar o meia por ser um jogador "barato" e muito habilidoso. Em
                    meio a buscas de reforços que se adequem ao Fairy PLay financeiro, Xavi cresce o olho em Veiga.

                </span>
            </div>

        </section>

        <section id="card2">
            <!--Card Noticia 3-->

            <img src="~/imagens/spnb.jpg" alt="São Paulo e New Ballance" style="width: 100%;" height="270px">

            <div id="textoCard2">
                <h1>Novo patrocínio na área</h1>
                <span>
                    Agora é oficial, São Paulo deve anunciar a New Ballance como seu novo patrocinador e fornecedor a partir de 2024. As negociações
                    avançaram e agora falta apenas a assinatura de acordo entre ambas as partes. O tricolor veste Adidas desde 2018,
                    e o motivo da troca, segundo relatos, seria de um relacionamento conturbado com a diretoria atual do clube.

                </span>
            </div>

        </section>

    </div>



</main>

<div id="transferencias">
    <div class="card-row">
        <div class="card">
            <div class="item-top">
                <div>
                    <p>RENOVAR CONTRATO</p>
                </div>
            </div>
            <div class="item-mid">
                <img src="../imagens/user.png">
                <p>Felipe Augusto</p>
                <img src="../imagens/pngwing.com.png">
            </div>
            <div class="item-mid2">
                <p>Contrato valido ate abril de 2026</p>
            </div>
            <div class="item-bottom">
                <p>Renovaçao</p>
            </div>
        </div>

        <div class="card">
            <div class="item-top">
                <div>
                    <p>RENOVAR CONTRATO</p>
                </div>
            </div>
            <div class="item-mid">
                <img src="../imagens/user.png">
                <p>Felipe Augusto</p>
                <img src="../imagens/pngwing.com.png">
            </div>
            <div class="item-mid2">
                <p>Contrato valido ate abril de 2026</p>
            </div>
            <div class="item-bottom">
                <p>Renovaçao</p>
            </div>
        </div>

        <div class="card">
            <div class="item-top">
                <div>
                    <p>RENOVAR CONTRATO</p>
                </div>
            </div>
            <div class="item-mid">
                <img src="../imagens/user.png">
                <p>Felipe Augusto</p>
                <img src="../imagens/pngwing.com.png">
            </div>
            <div class="item-mid2">
                <p>Contrato valido ate abril de 2026</p>
            </div>
            <div class="item-bottom">
                <p>Renovaçao</p>
            </div>
        </div>
    </div>
</div>
    
<div id="jogo">
    <h1>Tabela do Brasileirão</h1>
    <div class="Tabela">
        <table class="tabelaJogos">
            <tr class="first">
                <td>
                    <div class="firstStyle">Posição</div>
                </td>
                <td>
                    <div class="firstStyle">Equipes</div>
                </td>
                <td>
                    <div class="firstStyle">Pts</div>
                </td>
                <td>
                    <div class="firstStyle">V</div>
                </td>
                <td>
                    <div class="firstStyle">E</div>
                </td>
                <td>
                    <div class="firstStyle">D</div>
                </td>
            </tr> <!--linha1-->
            <tr class="linhaClubes">
                <td>
                    <div class="Pclassificados">1°</div>
                </td>
                <td>
                    <div class="classificados">Santos</div>
                </td>
                <td>
                    <div class="classificados" id="santosPts"><b>0</b></div>
                </td>
                <td>
                    <div class="classificados" id="vitSantos">0</div>
                </td>
                <td>
                    <div class="classificados" id="empSantos">0</div>
                </td>
                <td>
                    <div class="classificados" id="derSantos">0</div>
                </td>
            </tr>
            <tr class="linhaClubes">
                <td>
                    <div class="Pclassificados">2°</div>
                </td>
                <td>
                    <div class="classificados">Corinthians</div>
                </td>
                <td>
                    <div class="classificados"><b>68</b></div>
                </td>
                <td>
                    <div class="classificados">10</div>
                </td>
                <td>
                    <div class="classificados">5</div>
                </td>
                <td>
                    <div class="classificados">9</div>
                </td>
            </tr>
            <tr class="linhaClubes">
                <td>
                    <div class="Pclassificados">3°</div>
                </td>
                <td>
                    <div class="classificados">Cruzeiro</div>
                </td>
                <td>
                    <div class="classificados"><b>78</b></div>
                </td>
                <td>
                    <div class="classificados">18</div>
                </td>
                <td>
                    <div class="classificados">5</div>
                </td>
                <td>
                    <div class="classificados">3</div>
                </td>
            </tr>
            <tr class="linhaClubes">
                <td>
                    <div class="PsulClassificados">4°</div>
                </td>
                <td>
                    <div class="sulClassificados">Vasco</div>
                </td>
                <td>
                    <div class="sulClassificados"><b>38</b></div>
                </td>
                <td>
                    <div class="sulClassificados">8</div>
                </td>
                <td>
                    <div class="sulClassificados">15</div>
                </td>
                <td>
                    <div class="sulClassificados">23</div>
                </td>
            </tr>
        </table>
        <div class="legenda">
            <span class="spanLegenda"><div class="lib"></div>Classificado Libertadores</span>
            <span class="spanLegenda"><div class="sul"></div>Classificado Sulamericana</span>
        </div>
        <div id="botoes">
            <button style="padding:10px;" onclick="vitoriaSantos()">+V</button>
            <button style="padding:10px;" onclick="empateSantos()">+E</button>
            <button style="padding:10px;" onclick="derrotaSantos()">+D</button>
            <button style="padding:10px;" onclick="reset()">Reset</button>
        </div>

    </div>
    <script>
        vitoriaSantos = () => {
            var sanPts = document.getElementById("santosPts")
            var sanVit = document.getElementById("vitSantos")
            pontos += 3
            vitorias += 1
            sanPts.innerHTML = pontos
            sanVit.innerHTML = vitorias
        }

        var pontos = 0
        var vitorias = 0
        var empates = 0
        var derrotas = 0

        empateSantos = () => {
            var sanPts = document.getElementById("santosPts")
            var sanEmp = document.getElementById("empSantos")
            pontos += 1
            empates += 1
            sanPts.innerHTML = pontos
            sanEmp.innerHTML = empates

        }
        derrotaSantos = () => {
            var sanDer = document.getElementById("derSantos")
            derrotas += 1
            sanDer.innerHTML = derrotas
        }
        reset = () => {
            var sanVit = document.getElementById("vitSantos")
            var sanDer = document.getElementById("derSantos")
            var sanEmp = document.getElementById("empSantos")
            var sanPts = document.getElementById("santosPts")
             pontos = 0
             vitorias = 0
             empates = 0
             derrotas = 0

            sanVit.innerHTML = vitorias
            sanDer.innerHTML = derrotas
            sanEmp.innerHTML = empates
            sanPts.innerHTML = pontos

        }
    </script>
