
@{
    ViewData["Title"] = "Sobre o site e seus desenvolvedores";
}

<h1>Sobre o site e seus desenvolvedores</h1>

<p>
    “O nosso site é o lugar perfeito para os amantes do futebol! 
    Aqui você encontra os resultados dos jogos mais recentes, 
    notícias sobre os times e jogadores mais importantes do mundo e muito mais. 
    Nós somos apaixonados por futebol e queremos compartilhar essa paixão com você. 
    Além disso, nosso site é desenvolvido por três pessoas incríveis: Diogo, Guilherme e Luiz. 
    Eles são especialistas em tecnologia e futebol 
    e trabalham duro para trazer as melhores informações para você.”
</p>

