* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: none;
    text-decoration: none;
    list-style: none;
    
}
.highlight {
    background-color: yellow;
}
.header-main {
    border-bottom: 5px solid #014087;
    background-color: #070561;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px;
    height: 95px;
    width: 100%;
}

.left-side {
    display: flex;
    align-items: center;
}

    .left-side div a {
        color: white;
    }

.left-side {
    
    display: flex;
    align-items: center;
    
}

.menu-item { /*tudo da nav menos a logo*/
    
    margin-right: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 15px;
    transition: all ease-in-out;
}



    .menu-item a:hover {
        color: #DDED2F;
        padding-bottom: 38px;
        border-bottom: 3px solid #DDED2F;
    }
    .menu-item img {
        
       width: 50px;
       background-color: #0025DB;
       padding:10px;
       border-radius: 50%;
       
    }
.menu-item-logo { /*logo do site nome*/
    
    margin-right: 20px;
    font-size:17px;
    font-weight: bold;
}
        .menu-item img:hover {
            background-color: #050450;
        }
   
.right-side{
    display:flex;
    align-items:center;
}

.login-button {
    background-color: #0025DB;
    color: white;
    padding: 18px 25px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    border: 2px solid #0025DB;
}

    .login-button:hover {
        background-color: #050450;
        color: #DDED2F;
    }


.register-button {
    background-color: #070561;
    color: white;
    padding: 18px 28px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #0025DB;
    font-size: 15px;
    font-weight: bold;
}

    .register-button:hover {
        background-color: #0025DB;
    }

.header-hamburguer-camp {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding-left: 300px;
    background-color: #070561;
}

.campeonatos-menu {
    
    padding-top: 10px;
    display: none;
    width: 100%;
    background-color: #070561;
    transition: transform 0.5s ease-in-out;
    padding-bottom: 10px;
}

.campeonatos-menu-list {
    display: flex;
    height:150px;
}

.campeonatos-menu ul {
    margin-right: 50px;
}

    .campeonatos-menu ul li {
        padding: 7px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        margin-top: 5px;
    }

        .campeonatos-menu ul li:hover {
            background-color: #0a0187;
            border-radius: 5px;
        }

        .campeonatos-menu ul li a {
            color: white;
            font-size: 18px;
            margin-left: 5px;
        }

        .campeonatos-menu ul li img {
            width: 30px;
        }

.campeonatos-menu.show {
    display: flex;
    flex-direction: column;
    animation: slide-down 0.5s ease-in-out forwards;
}

@keyframes slide-down {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.header-hamburguer-camp {
    padding-left: 300px;
    background-color: #070561;
}

.times-menu {
    padding-top: 10px;
    display: none;
    left: 0;
    width: 100%;
    background-color: #070561;
    transition: transform 0.5s ease-in-out;
    padding-bottom: 10px;
}
.times-menu-list {
    display: flex;
    height: 149px;
}

.times-menu-titulo {
    height: 100%;
}

.times-menu ul {
    margin-right: 50px;
}

    .times-menu ul li {
        padding: 7px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        margin-top: 5px;
    }

        .times-menu ul li:hover {
            background-color: #0a0187;
            border-radius: 5px;
        }

        .times-menu ul li a {
            color: white;
            font-size: 18px;
            margin-left: 5px;
        }

        .times-menu ul li img {
            width: 30px;
        }

.times-menu.show2 {
    display: flex;
    animation: slide-down 0.5s ease-in-out forwards;
}

/*responsividade da nav*/
@media screen and (max-width: 1320px) {

    .login-button {
        background-color: #0025DB;
        color: white;
        padding: 5px 22px;
        margin-bottom:5px;
        margin-right:0;
        font-size: 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
        transition: all 0.2s ease-in-out;
        font-weight: bold;
        border: 2px solid #0025DB;
    }
    .register-button {
        margin-right: 0;
        background-color: #070561;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        border: 2px solid #0025DB;
        font-size: 15px;
        font-weight: bold;
    }
    .right-side { /*div dos botoes login e registro*/
        display: block;
        align-items: center;
    }
    
    .menu-item img { /*lupinha*/
        display: none;
    }
    .menu-item { /*tudo da nav menos a logo*/

        margin-right: 12px;
        cursor: pointer;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 10px;
        transition: all ease-in-out;
        margin-left: 0;
        padding-left:0;
        font-size: 13px;
        padding-top: 5px;
        text-decoration: underline;
        
    }
    .menu-item-logo { /*logo do site nome*/

        margin-right: 20px;
        font-size: 20px;
        font-weight: bold;
         
    }
    .left-side {
        display: flex;
        align-items: initial;
        margin: 0;
        padding: 0;
    }
    a#campeonatos-btn{
        display: none;
    }
    .header-hamburguer-camp{
        padding-left: 10px;
    }
    

}
