* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
#jogo{
    padding-top: 15px;
    display:none;
}
.schedule-tittle {
    margin-left:300px;
    border-left: 5px solid #0025DB;
    padding: 5px 5px;
    margin-right: 980px;
    margin-top: 50px;
    margin-bottom:15px;
}

    .schedule-tittle a {
        text-decoration: none;
        color: #0025DB;
        font-size: 18px;
        font-weight: 700;
        display:flex;
        align-items:center; 
    }
        .schedule-tittle a img {
            width: 45px;
            margin-right: 5px;
            border:1px solid blue;
            padding:2px;
            border-radius:50%;
        }
.schedule-row {
margin-left: 300px;
margin-right: 100px;
display: flex;
flex-wrap: wrap;
}
.schedule-games {
    width: 398px;
    height: 125px;
    border-radius: 7px;
    margin-right: 55px;
    margin-bottom: 20px;
    background-color: #ffffff4a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.schedule-game-top {
display: flex;
justify-content: space-between;
}

.schedule-game-top span {
font-size: 13px
}

.schedule-game-mid {
padding: 10px;
justify-content: space-between;
display: flex;
align-items: center;

}

    .schedule-game-mid span {
        font-size: 18px;
        align-items: center;
    }

.game-teams {
display: flex;
flex-direction: column;

}
    .game-teams img {
        margin-right: 5px;
        width: 30px;
        height: 25px;
    }
    .game-teams span {
        display: flex;
        margin-top: 5px;
    }

.game-result {
display: flex;
flex-direction: column;
}
    .game-result span {
        margin-top: 10px;
    }
