
.sobre-main{
    background-image: linear-gradient(to right top, #ffffff, #fbfaff, #f6f5ff, #f1f1ff, #ececff);

}

.sobre-titulo {
    text-align: center;
    padding-left: 50px;
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
    
}

.sobre-paragrafo {
       
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        text-decoration: underline;
        font-size: 25px; /*30px*/
        text-indent:unset;
        margin-top:100px;
        margin-left:50px;
        margin-right:50px;
        margin-bottom:130px;
    }
