
@{
    ViewData["Title"] = "View";
}



<nav id="nav">
    <div class="nav-header">
        <img src="../imagens/pngwing.com.png">
        <span>CORINTHIANS</span>
    </div>
    <div class="nav-header-menu">
        <a href="#header" id="noticia-btn">Notícias</a>
        <a href="#header" id="jogos-btn">Jogo</a>
        <a href="#header" id="trans-btn">Transferências</a>
    </div>
</nav>

<main id="noticia">
    <span id="titulo">
        <img src="~/imagens/globo.png" alt="globo">
        Notícias
    </span>

    <div id="principal">
        <!--Quadrado branco dos cards-->
        <span id="topnews">Top News</span>

        <section id="card1">
            <!--Card Noticia 1-->

            <img src="~/imagens/bau.jpg" alt="Eduardo Bauermann" style="width: 565px;" height="410px"> <!-- 525 e 360-->

            <div id="textoCard1">
                <h1>Santos decide suspender contrato do zagueiro Eduardo Bauermann</h1>
                <span>
                    O Santos suspendeu o contrato nesta terça feira (16/05), de um de seus principais zagueiro
                    Eduardo Bauermann. O jogador é réu na operação Penalidade Maxima II, que investiga jogadores que
                    participam de esquema de apostas esportivas no futebol brasileiro.
                    Alguns prints de conversa do Whatsapp entre o jogador e o apostador mostram, que o zagueiro teria se
                    oferecido e recebido R$50 mil para tomar um cartão amarelo no jogo contra o Avaí no ano passado.
                    Após o jogador nao conseguir cumprir o acordo, teria se oferecido novamente para tomar um cartão vermelho
                    no jogo seguinte do Peixe, contra o Botafogo. Com essas polêmicas, o clube decidiu suspender o contrato do
                    zagueiro, com possibilidade de até processar o jogador pelo ocorrido.


                </span>
            </div>

        </section>

        <section id="card2">
            <!--Card Noticia 2-->

            <img src="~/imagens/deivid.jpg" alt="Deivid Washington" style="width: 100%;" height="270px">

            <div id="textoCard2">
                <h1>Promessa Santista</h1>
                <span>
                    O Jovem atacante Deivid Washington vem ganhando espaço no time profissional do Santos. O atacante de apenas 17 anos,
                    vem impressionando a torcida alvinegra com sua mobilidade e suas características. Na sombra de Marcos Leonardo,
                    Deivid vem aproveitando sua titularidade enquanto o colega esta na seleção Sub-20.

                </span>
            </div>

        </section>

        <section id="card3">
            <!--Card Noticia 3-->

            <img src="~/imagens/veiga.jpg" alt="Rafael Veiga" style="width: 100%;" height="270px">

            <div id="textoCard2">
                <h1>Na mira de gigante!</h1>
                <span>
                    O meio-campista craque e muito querido pela torcida alviverde, Raphael Veiga, vem chamando a atenção de diversos clubes da Europa. Surgiu
                    rumores do jornal espanhol "Sport", que o Barcelona tem interesse em contratar o meia por ser um jogador "barato" e muito habilidoso. Em
                    meio a buscas de reforços que se adequem ao Fairy PLay financeiro, Xavi cresce o olho em Veiga.

                </span>
            </div>

        </section>

        <section id="card2">
            <!--Card Noticia 3-->

            <img src="~/imagens/spnb.jpg" alt="São Paulo e New Ballance" style="width: 100%;" height="270px">

            <div id="textoCard2">
                <h1>Novo patrocínio na área</h1>
                <span>
                    Agora é oficial, São Paulo deve anunciar a New Ballance como seu novo patrocinador e fornecedor a partir de 2024. As negociações
                    avançaram e agora falta apenas a assinatura de acordo entre ambas as partes. O tricolor veste Adidas desde 2018,
                    e o motivo da troca, segundo relatos, seria de um relacionamento conturbado com a diretoria atual do clube.

                </span>
            </div>

        </section>

    </div>



</main>

<div id="transferencias">
<div class="noticia-titulo">
    <h3>Transferencias</h3>
</div>
    <div class="card-row">
        <div class="card">
            <div class="item-top">
                <div>
                    <p>RENOVAR CONTRATO</p>
                </div>
            </div>
            <div class="item-mid">
                <img src="../imagens/user.png">
                <p>Felipe Augusto</p>
                <img src="../imagens/pngwing.com.png">
            </div>
            <div class="item-mid2">
                <p>Contrato valido ate abril de 2026</p>
            </div>
            <div class="item-bottom">
                <p>Renovaçao</p>
            </div>
        </div>

        <div class="card">
            <div class="item-top">
                <div>
                    <p>RENOVAR CONTRATO</p>
                </div>
            </div>
            <div class="item-mid">
                <img src="../imagens/user.png">
                <p>Felipe Augusto</p>
                <img src="../imagens/pngwing.com.png">
            </div>
            <div class="item-mid2">
                <p>Contrato valido ate abril de 2026</p>
            </div>
            <div class="item-bottom">
                <p>Renovaçao</p>
            </div>
        </div>

        <div class="card">
            <div class="item-top">
                <div>
                    <p>RENOVAR CONTRATO</p>
                </div>
            </div>
            <div class="item-mid">
                <img src="../imagens/user.png">
                <p>Felipe Augusto</p>
                <img src="../imagens/pngwing.com.png">
            </div>
            <div class="item-mid2">
                <p>Contrato valido ate abril de 2026</p>
            </div>
            <div class="item-bottom">
                <p>Renovaçao</p>
            </div>
        </div>
    </div>
</div>
<div id="jogo">
    <div class="schedule-row">
            <div class="schedule" id="schedule">
                <div class="schedule-body">
                    <div class="schedule-main">
                        <div class="schedule-games">
                            <div class="schedule-game-top">
                                <span>Final</span>
                                <span>21:00</span>
                            </div>
                            <div class="schedule-game-mid">
                                <div class="game-teams">
                                <span><img src="../imagens/pngwing.com.png"><span></span>Corinthians</span>
                                <span><img src="../imagens/pngwing.com.png"><span></span>Corinthians</span>
                                </div>
                                <div class="game-result">
                                    <span>5</span>
                                    <span>5</span>
                                </div>
                                <div class="game-comment">
                                    <span>Finalizado</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>
